@use '@angular/material' as mat;

@include mat.core();

@import "../node_modules/angular-calendar/css/angular-calendar.css";

$primary-accent: #7EB900;
$secondary-accent: #606060; 

html, body { height: 100%; overflow-y: hidden;

}
body { margin: 0; font-family: Source Code Pro, "Source Code Pro", sans-serif;


}



html label
{
    font-family: Source Code Pro; 
}

.green-color{
    background-color: $primary-accent !important;
}
button{
    color: white !important;
}
h1, h2 {
    font-family: Source Code Pro !important;
    color: white !important;
}

.autoCompletePanelClass{
    display: flex !important;
    overflow: hidden !important;
    flex-direction: column !important;
}

.dialog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.button-primary{
    background-color: $primary-accent !important;
}

.button-secondary{
    background-color: $secondary-accent !important;
}

.dialog-header{
    align-self: flex-start;
}

.dialog-body{
    align-self: flex-start;
    height: inherit;
    width: inherit;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.dialog-footer{
    align-self: flex-end;
    gap: 10px;
    display: flex;
}

.cal-month-view{
    background-color: transparent;
}

.cal-cell-row{
    background-color: transparent !important; 
}

.cal-cell :hover{
    background-color: #404040 !important;
}

.cal-cell .call-day-cell .cal-today{
    background-color: black !important;
}

.cal-month-view .cal-day-cell.cal-today {
  background-color: $primary-accent !important; 
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number{
    color: white;
}
.cal-month-view .cal-cell {
    background-color: transparent !important;
}