<mat-card class="league-card" appearance="outlined" (click)="onCLick.emit(leagueCard?.idLeague)">
  <mat-card-header
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <mat-card-title>{{ leagueCard?.league }}</mat-card-title>
    <fa-icon *ngIf="icon" style="color: white" [icon]="icon"></fa-icon>
  </mat-card-header>
  <mat-card-content>
    <div>Owner: {{ leagueCard?.owner }}</div>
    <div>Member Count: {{ leagueCard?.userCount }}</div>
  </mat-card-content>
  <mat-card-footer class="example-card-footer"> </mat-card-footer>
</mat-card>
