<div class="dialog" tabindex="-1" role="dialog">
    <h2 class="dialog-header">Add New Event</h2>
    <div style="
      align-self: flex-start;
      height: inherit;
      width: inherit;
      gap: 10px;
      display: flex;
      flex-direction: column;
    ">
        <div style="
        align-self: flex-start;
        height: inherit;
        width: inherit;
        gap: 10px;
        display: flex;
      ">
            <mat-form-field appearance="fill">
                <mat-label>Event Name</mat-label>
                <input matInput [(ngModel)]="event.event" name="eventname" />
            </mat-form-field>

            <app-autocomplete-component [valueSub]='ownedLeaguesSub' id='idLeague' display='league'
                [(value)]="event.idLeague" title="Select a League">
            </app-autocomplete-component>

            <app-autocomplete-component [valueSub]='gameDictSub' id='idGame' display='game' [(value)]="event.idGame"
                title="Select a Game">
            </app-autocomplete-component>

        </div>
        <mat-form-field style="width: inherit">
            <mat-label>Description</mat-label>
            <textarea [(ngModel)]="event.description" matInput maxlength="200" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="100"></textarea>
        </mat-form-field>
        <div style="
        align-self: flex-start;
        height: inherit;
        width: inherit;
        gap: 10px;
        display: flex;">    
            <mat-form-field>
                <mat-label>Choose a Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Choose a Date</mat-label>
                <input matInput [matTimePicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Is Event Reaccurring</mat-label>
                <mat-select [(value)]="event.isReaccuring">
                    <mat-option *ngFor="let yesNo of yesNoDict" [value]="yesNo.value">
                        {{yesNo.display}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="event.isReaccuring === 'Y'">
                <app-autocomplete-component [valueSub]='eventIntervalTypeDictSub' id='idEventIntervalType'
                    display='intervalType' [(value)]="event.idEventIntervalType" title="Select a Interval Type">
                </app-autocomplete-component>
            </div>
        </div>
    </div>
    <div class="dialog-footer">
        <button mat-button class="button-primary" [disabled]="isSavingDisabled()" (click)="saveEvent()">
            Save Event
        </button>
        <button mat-button class="button-secondary" (click)="onClose()">
            Close
        </button>
    </div>
</div>