<div style="width: 100%; height: 100%; ">
    <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 10px;">
        <h1>Leagues</h1>
        <button class="green-color" mat-fab extended [disabled]="newLeagueDisable()" (click)="newLeague()">New
            League</button>
    </div>
    <div style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
        <button (click)="scrollLeft()" mat-icon-button aria-label="Go back" style="height: min-content;">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="12" class="example-viewport"
            style="height: 150px; overflow-y: hidden; flex-grow: 1;">
            <app-league-card (onCLick)="cardClick($event)" *cdkVirtualFor="let item of leagueCards" [leagueCard]="item"
                class="example-item">
            </app-league-card>
        </cdk-virtual-scroll-viewport>
        <button (click)="scrollRight()" mat-icon-button aria-label="Scroll Forward"
            style="flex-grow: 0; height: min-content;">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
    <router-outlet></router-outlet>
</div>