<div style="width: 100%">
    <div>
        <div style="display: flex; justify-content: flex-end; padding: 10px;">
            <button  *ngIf="league?.leaguePositionCode === 'OWN' else joinTemplate" (click)="deleteLeague()" mat-button
                style="width: 40px; height: 40px; align-self: flex-end; background: red; ">
                <fa-icon style="color: white" [icon]="faTrash">
                </fa-icon>
            </button>
            <ng-template #joinTemplate>
                <button mat-button *ngIf="league?.isPrivate === 'Y' && league?.leaguePositionCode !== ''" class="green-color"
                    style="align-self: flex-end;" extended (click)="requestToJoin()">
                    Request to Join League</button>
                    <button mat-button *ngIf="league?.isPrivate === 'Y' && league?.leaguePositionCode === 'PND'" class="green-color"
                        style="align-self: flex-end;" extended disabled>
                        Requested to Join League</button>

                <button mat-button *ngIf="league?.isPrivate === 'N' && league?.leaguePositionCode !== ''" class="green-color"
                    style="align-self: flex-end;" extended (click)="requestToJoin()">Join
                    League</button>
            </ng-template>
        </div>

        <div style="display: flex; flex-direction: row; width: 100%;">
            <div class="column" style="flex: 1">
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <h1>Title: {{league?.league}}</h1>
                    </div>
                    <button *ngIf="league?.leaguePositionCode === 'OWN'" (click)="editTitle()" mat-button
                        style="width: 40px; height: 40px;">
                        <fa-icon style="color: white" [icon]="faPencil">
                        </fa-icon>
                    </button>
                </div>

                <h2>Owner: {{league?.owner}}</h2>
                <h3>Member Count: {{league?.memberCount}}</h3> 
                <div style="display: flex; align-items: baseline; justify-content: space-between;">
                    <h3 style="align-self: flex-end;">Primary Games: </h3>
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <div *ngFor="let game of league?.games">{{game.game}}</div>
                        </div>
                            <button *ngIf="league?.leaguePositionCode === 'OWN'" (click)="editPrimaryGames()" mat-button
                                style="width: 40px; height: 40px;">
                                <fa-icon style="color: white" [icon]="faPencil">
                            </fa-icon>
                        </button>
                    </div>
                </div>
                <div style="display: flex; align-items: baseline; justify-content: space-between;">
                    <h3>Description: </h3>
                    <div style="display: flex; justify-content: space-between;">
                        <p>{{league?.description}}</p>
                        <button *ngIf="league?.leaguePositionCode === 'OWN'" (click)="editDescription()" mat-button
                            style="width: 40px; height: 40px;">
                            <fa-icon style="color: white" [icon]="faPencil">
                            </fa-icon>
                        </button>
                    </div>
                </div>

            </div>
            <div class="column" style="flex: 1">

                <h2>Member(s)</h2>
                <ng-container *ngIf="league?.leaguePositionCode === 'OWN'; else notOwner">
                    <mat-tab-group dynamicHeight>
                        <mat-tab label="Members">
                            <ag-grid-angular 
                                [columnDefs]="memberColDef" 
                                [gridOptions]="gridOptions" 
                                style="width: inherit; height: 450px;" 
                                [theme]="theme"
                                (gridReady)="onMemberGridReady($event)"
                                (selectionChanged)="onMemberSelectionChange()"
                                [rowData]="league?.users">
                            </ag-grid-angular> 
                            <br>
                            <button mat-button style="background: red;" extended (click)="removeMember()">
                                Remove Selected
                            </button>
                        </mat-tab>
                        <mat-tab label="Requested" style="display: flex;"> 
                            <ag-grid-angular [columnDefs]="pendingMemberColDef"
                                [gridOptions]="gridOptions" 
                                style="width: inherit; height: 450px;" 
                                (gridReady)="onPendingMemberGridReady($event)"
                                (selectionChanged)="onPendingMemberSelectionChange()"
                                [theme]="theme"
                                [rowData]="league?.pendingUsers">
                            </ag-grid-angular> 
                            <br>
                            <button mat-button  class="green-color" (click)="addMember()">
                                Approve Selected
                            </button>
                        </mat-tab>
                    </mat-tab-group>
                </ng-container>
                <ng-template #notOwner>
                    <ag-grid-angular [columnDefs]="memberColDef" style="width: inherit; height: 500px;" [theme]="theme"
                        [rowData]="league?.users">
                    </ag-grid-angular>
                </ng-template>

            </div>
            <div class="column" style="flex: 1">
                <div style="display: flex; justify-content: space-between; align-items: center; ">
                    <h2>Event(s)</h2>
                    <button mat-button *ngIf="league?.leaguePositionCode === 'OWN'" class="green-color" extended (click)="newEvent()">
                        Add Event
                    </button>
                </div>
                <ag-grid-angular [columnDefs]="eventColDef" style="width: inherit; height: 500px;" [theme]="theme"
                    [rowData]="league?.events">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>