<mat-card class="league-card" appearance="outlined">
  <mat-card-header
    style="display: flex; justify-content: space-between; align-items: center">
    <mat-card-title>{{ eventCard?.event }}</mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <h2>League: {{ eventCard?.league }}</h2>
    <h2>Playing: {{ eventCard?.game }}</h2>
    <h2>Description: {{eventCard?.description}}</h2>
    <h2>{{eventCard?.occurring}}</h2>

  </mat-card-content>
  <mat-card-footer class="example-card-footer"> </mat-card-footer>
</mat-card>
