<main>
  <header class="brand-name">
    <mat-toolbar style="background: midnightblue; color: white; width: 100%; border: none">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav">
          <mat-icon aria-label="Side nav toggle icon" svgIcon="menu"></mat-icon>
        </button>
        <div>
          Penis Star League
        </div>

      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <section class="content">
<!--    <app-home></app-home>-->
  </section>

</main>

<!--<div>-->
<!--  test-->
<!--</div>-->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
