<div class="dialog" tabindex="-1" role="dialog">
    <h2 class="dialog-header">{{title}}</h2>
    <mat-form-field appearance="fill">
    <mat-label>League Name</mat-label>
        <input
          matInput
          placeholder="Ex. Vagina Star League"
          [(ngModel)]="value"
          name="leagueName"/>
    </mat-form-field>
    <div class="dialog-footer">
    <button
      mat-button
      class="button-primary"
      (click)="onConfirm()">
      Confirm
    </button>
    <button mat-button class="button-secondary" (click)="onClose()">
      Dismiss
    </button>
  </div>
</div>
