
<mat-form-field>
    <mat-label>{{title}}</mat-label>
    <mat-select [(value)]="value" (selectionChange)="onValueChange()">
            <mat-form-field style="width: inherit;">
                    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"       
                        (click)="$event.stopPropagation()"
                        (keydown)="$event.stopPropagation()">
                    <fa-icon matSuffix style="color: white; padding: 20px !important;" [icon]="faMagGlassIcon"></fa-icon>
            </mat-form-field>
        <mat-option *ngFor="let val of valuesCopy" [value]="val[id]">{{
            val[display]
            }}</mat-option>
    </mat-select>
</mat-form-field>
